.about-product {
  max-width: 1000px;
  margin: 0 0 100px auto;
  display: flex;
  flex-direction: column;

  &__inner {
    width: 330px;
    text-align: left;
    @include for-tablet-portrait-up {
      text-align: center;
      margin: 0 auto;
    }
    @include for-tablet-landscape-up {
      padding-right: 48px;
      margin-left: 50px;
      text-align: left;
    }
    @include for-desktop-up {
      margin-left: 100px;
    }
  }

  &__header {
    margin: 0 0 32px;
    text-align: left;

    @include for-tablet-portrait-up {
      text-align: center;
    }

    @include for-tablet-landscape-up {
      text-align: left;
    }
  }

  &__description {
    margin: 0 0 48px;
  }

  &__play-button {
    display: block;
    margin: 0 auto;

    @include for-tablet-landscape-up {
      display: inline-block;
      margin: 0;
    }
  }

  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.about-product__img {
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 32px;

  @include for-tablet-portrait-up {
    width: 80%;
    margin: 0 auto 32px;
  }

  @include for-tablet-landscape-up {
    width: calc(100% - 450px);
    margin: 0;
  }

  @include for-desktop-up {
    width: calc(100% - 500px);
  }
}
