.contacts {
  flex-direction: column;
  justify-content: flex-start;
  font-style: normal;
}

.contacts__contact-link {
  color: $text;
  font-weight: 400;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-ease;

  &:hover,
  &:focus {
    outline: none;
    color: $contrast;
  }
}
