@font-face {
  font-family: Mark;
  src: url("../fonts/Mark-Heavy.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: Mark;
  src: url("../fonts/Mark-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Mark;
  src: url("../fonts/Mark-Medium.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Quantum;
  src: url("../fonts/Quantum.otf") format("opentype");
  font-weight: 700;
}
