.get-in-touch {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.get-in-touch__header {
  margin: 0 0 24px;
}

.get-in-touch__description {
  margin: 0 0 50px;
}

.get-in-touch__content {
  width: 340px;
}

.get-in-touch__form {
  width: 50%;
}
