.header-cover {
  position: relative;
  box-sizing: border-box;
  padding: 40px 0;
  max-width: 1400px;
  margin: 0 auto;

  @include for-tablet-landscape-up {
    padding-top: 32px;
    height: calc(100vh - 180px);
    max-height: 768px;
    padding-bottom: 100px;
    min-height: 500px;
  }
}

.header-cover__img {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 20%;
  right: 0;
  transform: translate(50px, -100px);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: $transition-duration-long;
  transition-timing-function: ease;

  @include for-desktop-up {
    width: 60%;
  }

  &.is-active {
    transform: translate(50px, 0);
    opacity: 1;
  }
}

.header-cover__description-wrapper {

  @include for-tablet-portrait-up {
    max-width: 320px;
  }

  @include for-desktop-up {
    margin-left: 90px;
  }
}

.header-cover__description {
  margin-bottom: 8px;
}

.header-cover__price {
  font-size: 18px;
  margin-bottom: 48px;
  color: $white;

  @include for-phone-only {
    text-align: center;
  }
}

.header-cover__header {
  text-align: left;
  margin: 0 0 16px;
}

// navigation
.header-cover__navigation {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 24px;
  left: 0;

  @include for-tablet-landscape-up {
    display: block;
  }
}

.header-cover__more-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  border: none;

  font-weight: 700;
  font-size: 16px;
  padding: 16px;
  color: $contrast;
  cursor: pointer;
  letter-spacing: 0.15em;

  transition-property: color;
  transition-timing-function: $transition-ease;
  transition-duration: $transition-duration;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 10px solid transparent;
    border-top-color: $contrast;
    transform: translate(-50%, 60%);
    transition-property: border-color, transform;
    transition-timing-function: $transition-ease;
    transition-duration: $transition-duration;
  }

  &:visited {
    color: $contrast;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $white;

    &::after {
      border-top-color: $white;
      transform: translate(-50%, 120%);
    }
  }
}
