$white: #fff;
$text: #929292;
$dark-grey: #2f2f2f;
$bg-black: #05040b;
$contrast: #05c2df;

// transition
$transition-duration: 0.3s;
$transition-duration-long: 0.7s;
$transition-ease: cubic-bezier(0.3, 0.1, 0.3, 1);
