h1, h2, h3 {
  font-family: Mark, sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  outline: none; }

h1 {
  font-size: 46px;
  line-height: 130%; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 16px; }

a {
  font-family: Mark, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-decoration: none; }
  a:visited {
    color: #fff; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  margin: 0; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

@font-face {
  font-family: Mark;
  src: url("../fonts/Mark-Heavy.ttf") format("truetype");
  font-weight: 900; }

@font-face {
  font-family: Mark;
  src: url("../fonts/Mark-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: Mark;
  src: url("../fonts/Mark-Medium.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: Quantum;
  src: url("../fonts/Quantum.otf") format("opentype");
  font-weight: 700; }

p {
  color: #929292;
  font-size: 16px;
  line-height: 150%; }

.quantum {
  font-family: Quantum, sans-serif;
  color: #05c2df; }

h1, h2, h3 {
  font-family: Mark, sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  outline: none; }

h1 {
  font-size: 46px;
  line-height: 130%; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 16px; }

a {
  font-family: Mark, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-decoration: none; }
  a:visited {
    color: #fff; }

.header {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  text-align: center; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px; }

.nav__link {
  display: inline-block;
  position: relative;
  padding: 16px; }
  .nav__link::after, .nav__link::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(5, 194, 223, 0.5);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    background-color: rgba(5, 194, 223, 0);
    z-index: -1;
    opacity: 0;
    -webkit-transition-property: opacity, background-color, -webkit-transform, -webkit-box-shadow;
    transition-property: opacity, background-color, -webkit-transform, -webkit-box-shadow;
    transition-property: transform, opacity, background-color, box-shadow;
    transition-property: transform, opacity, background-color, box-shadow, -webkit-transform, -webkit-box-shadow;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .nav__link::before {
    width: 60px;
    height: 60px;
    border-width: 1px;
    -webkit-transform: translate(-50%, -50%) scale(0.2);
            transform: translate(-50%, -50%) scale(0.2);
    -webkit-box-shadow: 0 0 15px 5px rgba(5, 194, 223, 0.1);
            box-shadow: 0 0 15px 5px rgba(5, 194, 223, 0.1); }
  .nav__link:hover, .nav__link:focus {
    outline: none; }
    .nav__link:hover::after, .nav__link:hover::before, .nav__link:focus::after, .nav__link:focus::before {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1); }
  .nav__link:active::after {
    background-color: rgba(5, 194, 223, 0.2); }
  .nav__link:active::before {
    -webkit-box-shadow: 0 0 25px 10px rgba(5, 194, 223, 0.12);
            box-shadow: 0 0 25px 10px rgba(5, 194, 223, 0.12); }
  .nav__link--social {
    padding: 8px; }

.header-cover {
  position: relative;
  height: calc(100vh - 180px);
  min-height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 32px; }

.header-cover__img {
  position: absolute;
  width: 60%;
  z-index: -1;
  top: 20%;
  right: 0;
  -webkit-transform: translate(50px, -100px);
          transform: translate(50px, -100px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }
  .header-cover__img.is-active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.header-cover__description-wrapper {
  max-width: 320px;
  margin-left: 90px; }

.header-cover__description {
  margin-bottom: 8px; }

.header-cover__price {
  font-size: 18px;
  margin-bottom: 48px;
  color: #fff; }

.header-cover__header {
  text-align: left;
  margin: 0 0 16px; }

.header-cover__navigation {
  position: absolute;
  width: 100%;
  bottom: 24px;
  left: 0; }

.header-cover__more-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding: 16px;
  color: #05c2df;
  cursor: pointer;
  letter-spacing: 0.15em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  .header-cover__more-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 10px solid transparent;
    border-top-color: #05c2df;
    -webkit-transform: translate(-50%, 60%);
            transform: translate(-50%, 60%);
    -webkit-transition-property: border-color, -webkit-transform;
    transition-property: border-color, -webkit-transform;
    transition-property: border-color, transform;
    transition-property: border-color, transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .header-cover__more-button:visited {
    color: #05c2df; }
  .header-cover__more-button:hover, .header-cover__more-button:focus {
    outline: none;
    color: #fff; }
    .header-cover__more-button:hover::after, .header-cover__more-button:focus::after {
      border-top-color: #fff;
      -webkit-transform: translate(-50%, 120%);
              transform: translate(-50%, 120%); }

.more-than-gaming__description {
  margin: 0 0 64px;
  font-size: 14px; }

.more-than-gaming__header {
  margin-bottom: 16px; }

.advantages {
  max-width: 1060px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.advantages__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .advantages__card:not(:last-child) {
    margin-right: 24px; }

.advantages__img {
  margin-bottom: 32px; }

.advantages__description {
  text-align: center;
  margin: 0; }

.advantages__header {
  margin-bottom: 16px; }

.about-product {
  max-width: 880px;
  margin: 0 0 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 48px; }
  .about-product__img {
    width: calc(100% - 430px);
    height: 100%; }
  .about-product__inner {
    margin-left: 100px; }
  .about-product__header {
    margin: 0 0 32px; }
  .about-product__description {
    margin: 0 0 48px; }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .about-us__inner {
    margin-right: 100px;
    width: 430px; }

.about-us__decor {
  position: absolute;
  left: 650px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transform: rotate(-90deg) translateX(50%);
          transform: rotate(-90deg) translateX(50%);
  pointer-events: none;
  width: 400px;
  height: 400px; }

.about-us__decor-el {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 64px;
  -webkit-text-stroke: 1px #05c2df;
  width: 335px;
  height: 80px; }
  .about-us__decor-el:nth-child(2n+1) {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.about-us__decor-el:nth-child(n + 1) {
  opacity: calc(0.08 * 1); }

.about-us__decor-el:nth-child(n + 2) {
  opacity: calc(0.08 * 2); }

.about-us__decor-el:nth-child(n + 3) {
  opacity: calc(0.08 * 3); }

.about-us__decor-el:nth-child(n + 4) {
  opacity: calc(0.08 * 4); }

.about-us__decor-el:nth-child(n + 5) {
  opacity: calc(0.08 * 5); }

.why-kat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .why-kat__header, .why-kat__advantages {
    width: 100%;
    margin: 0 0 82px; }
  .why-kat__button {
    margin: 0 auto;
    width: 200px;
    text-align: center; }

.footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__logo,
.footer__nav--social {
  width: 250px; }

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.get-in-touch__header {
  margin: 0 0 24px; }

.get-in-touch__description {
  margin: 0 0 50px; }

.get-in-touch__content {
  width: 340px; }

.get-in-touch__form {
  width: 50%; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal; }

.contacts__contact-link {
  color: #929292;
  font-weight: 400;
  margin-bottom: 10px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__submit {
  width: 200px;
  text-align: center; }

.form__input-outer {
  height: 60px;
  margin-bottom: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative; }

.form__textarea-outer {
  height: 148px;
  margin-bottom: 100px; }

.form__label {
  position: absolute;
  top: 24px;
  left: 6px;
  color: #929292;
  cursor: text;
  line-height: 150%;
  font-size: 14px;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }

.form__input {
  height: 40px;
  width: 100%;
  padding: 6px;
  line-height: 150%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  caret-color: #05c2df;
  cursor: text;
  -webkit-transition-property: border-bottom-color;
  transition-property: border-bottom-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .form__input:focus {
    outline: none;
    border-bottom-color: #05c2df; }
  .form__input:placeholder-shown::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .form__input:placeholder-shown::-moz-placeholder {
    opacity: 0;
    -moz-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .form__input:placeholder-shown:-ms-input-placeholder {
    opacity: 0;
    -ms-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .form__input:placeholder-shown::-ms-input-placeholder {
    opacity: 0;
    -ms-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .form__input:placeholder-shown::placeholder {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .form__input:focus:placeholder-shown::-webkit-input-placeholder {
    opacity: 1; }
  .form__input:focus:placeholder-shown::-moz-placeholder {
    opacity: 1; }
  .form__input:focus:placeholder-shown:-ms-input-placeholder {
    opacity: 1; }
  .form__input:focus:placeholder-shown::-ms-input-placeholder {
    opacity: 1; }
  .form__input:focus:placeholder-shown::placeholder {
    opacity: 1; }
  .form__input:not(:placeholder-shown) + .form__label,
  .form__input:focus + .form__label {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    color: #05c2df; }

.form__textarea {
  height: 120px;
  resize: none; }

.kat-tech__img {
  display: block;
  height: 300px;
  margin: 0 auto; }

.kat-tech__header {
  margin: 0 0 80px; }

.kat-tech__spec-list-item {
  color: #929292;
  line-height: 150%; }

.kat-tech__container {
  padding-top: 60px;
  position: relative; }

.kat-tech__spec {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.7s, 0.3s;
          transition-duration: 0.7s, 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
  position: absolute; }
  .kat-tech__spec.is-active {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .kat-tech__spec--connection {
    width: 240px;
    bottom: 30px;
    right: calc(50% + 180px); }
  .kat-tech__spec--batteries {
    width: 340px;
    top: 0;
    left: calc(50% + 220px); }
  .kat-tech__spec--sensor {
    top: 0;
    right: calc(50% + 250px);
    width: 250px; }

.kat-tech__line {
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  .kat-tech__line.is-active {
    opacity: 1; }

#line-connections {
  display: block;
  position: absolute;
  left: calc(50% - 120px);
  top: calc(40% + 60px);
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%); }

#line-sensor {
  display: block;
  position: absolute;
  top: 8px;
  right: 50%; }

#line-batteries {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 30%; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Mark, sans-serif;
  min-height: 100vh;
  background: linear-gradient(149.28deg, #191536 0.67%, black 100%); }

.button {
  font-family: Mark, sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: 3px solid #05c2df;
  padding: 12px 32px;
  cursor: pointer;
  background-color: #05c2df;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
  display: inline-block; }
  .button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #05c2df; }
  .button:focus {
    outline: none;
    border: 3px solid #fff; }

.contrast {
  color: #05c2df; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.small-text {
  font-weight: 14px; }

.layout-block {
  padding: 0 110px;
  position: relative;
  z-index: 0;
  outline: none; }
  .layout-block--gradient {
    background: linear-gradient(149.28deg, #191536 0.67%, black 100%); }
  .layout-block--dark {
    background-color: #05040b; }

.content-block {
  padding: 100px 0; }

.play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 90px;
  position: relative; }
  .play-button .text {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 8px;
    position: relative;
    font-weight: 700; }
    .play-button .text::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #05c2df;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
              transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .play-button .play {
    position: absolute;
    width: 65px;
    height: 65px;
    border: #05c2df solid 2px;
    border-radius: 50%;
    left: 30px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .play-button .play::after {
      content: "";
      border: 15px solid transparent;
      border-left: solid #05c2df 25px;
      display: inline-block;
      top: 50%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-25%, -50%);
              transform: translate(-25%, -50%);
      -webkit-transition-property: border-left-color;
      transition-property: border-left-color;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
              transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
    .play-button .play::before {
      content: "";
      border: 4px solid rgba(5, 194, 223, 0.7);
      border-left-color: transparent;
      border-radius: 50%;
      display: inline-block;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition-property: border-color, -webkit-transform;
      transition-property: border-color, -webkit-transform;
      transition-property: transform, border-color;
      transition-property: transform, border-color, -webkit-transform;
      -webkit-transition-duration: 0.7s, 0.3s;
              transition-duration: 0.7s, 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
              transition-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1); }
  .play-button:hover, .play-button:focus {
    outline: none; }
    .play-button:hover .text::before, .play-button:focus .text::before {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1; }
    .play-button:hover .play::before, .play-button:focus .play::before {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
              transform: translate(-50%, -50%) rotate(180deg);
      border-color: rgba(255, 255, 255, 0.8);
      border-left-color: transparent; }
    .play-button:hover .play::after, .play-button:focus .play::after {
      border-left-color: #fff; }

/*# sourceMappingURL=main.css.map */
